permissions:
    contents: read
    packages: write
name: main-build
on:
    push:
        branches: [gh_actions]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Docker login
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - name: Build and push
              uses: docker/build-push-action@v6
              with:
                  context: .
                  push: true
                  tags: |
                      ghcr.io/${{ github.repository_owner }}/djinni-salary:latest
                      ghcr.io/${{ github.repository_owner }}/djinni-salary:${{ github.sha }}
