permissions:
    contents: read
    packages: write
name: Build and deploy djinni-salary
on:
    push:
        branches: [main]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Docker login
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - name: Build and push
              uses: docker/build-push-action@v6
              with:
                  context: .
                  push: true
                  tags: |
                      ghcr.io/${{ github.repository_owner }}/djinni-salary:latest
                      ghcr.io/${{ github.repository_owner }}/djinni-salary:${{ github.sha }}
    deploy:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - name: Triger deploy via ssh
              uses: appleboy/ssh-action@v1.2.0
              with:
                  host: ${{secrets.DEPLOY_HOST}}
                  username: ${{secrets.DEPLOY_USER}}
                  key: ${{secrets.DEPLOY_KEY}}
                  script: |
                      cd /home/ubuntu/djinni-salary-back
                      docker compose pull djinni-salary
                      docker compose up -d djinni-salary
